<div class="container">
  <div class="container">
    <%=image_tag("about.jpg",:size => "1110x500", :class => "image_tag") %>
  </div>

    <h1 class="text-center">An Introduction</h1>
    <p class="text-center">Born in Iran and raised in Bangladesh, Melisa Khan comes from a place where she was always surrounded by rich culture and exotic art.<br> Her dream was to always represent her country and its wonderful attributes under her own name.<br><br>
      In 2017 she founded <b>MELISA KHAN</b>, a brand of handmade bags made of sustainable materials.<br>
      The brand is inspired by Jute, known as the <strong>‘Golden fibre’</strong> in Bangladesh.<br> Jute is known for its tremendous eco-friendly qualities and together with recycled leather <b>MELISA KHAN</b>’s bags <br> are a perfect combination of sustainability and fashion.<br><br>
      Each item is made with great attention to detail and special craftsmanship, essential when making
      goods that last. <br>The minimal designs are characterized by simplicity, timelessness and durability making each bag <br> a perfect accessory for the weekend, be it for a picnic or a day on the beach! </p>

</div>

