<div class="container">
  <div class="container">
    <%=image_tag("contact.jpg",:size => "1110x500", :class => "image_tag") %>
  </div>

  <h1 class="text-center">Contact Us</h1>
  <p class="text-center"> We are here to answer any questions you may have about <strong>MELISA KHAN</strong>.<br>
    Reach out to us and we’ll respond as soon as we can. <br><br>

    Telephone: <strong>+85260931710</strong> <br><br>

    Email: <strong><a href="mailto:melisakhan@gmail.com">melisakhan@gmail.com</a></strong>

  </p>
</div>

