<div class="container">
  <br>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />



  <div class="container">
    <%=image_tag("inspiration.jpg",:size => "1110x500", :class => "image_tag") %>
  </div>

  <h1 class="text-center">Inspiration</h1>
</div>

