<div class="container">

  <div class="container">
    <%=image_tag("terms_and_conditions.jpg",:size => "1110x500", :class => "image_tag") %>
  </div>
  <div style="width: 720px; margin:auto">
  <h1 class="text-center">Terms and Conditions</h1>
  <h3 class="text-center">FREE SHIPPING</h3>
  <br>
  <h5 class="text-center"><strong>SHIPPING INFO</strong></h5>

  <p class="text-center"><strong>FREE</strong> shipping on all orders. No minimum orders to be place required. So here’s how it works: Orders placed before 12:00 PM Monday through Friday will be processed and shipped out the same business day. Orders placed after 12:00 PM will be processed and shipped out the following business day. All orders placed over the weekend will be received for processing the following business day (excluding holidays). Upon completion of order processing, the shipping information and tracking information will be sent to you via email.</p>
    <br>
  <h5 class="text-center"><strong>RETURNS</strong></h5>

  <p class="text-center"><strong>MELISA KHAN</strong> prides itself on offering the highest quality merchandise while fulfilling customer orders accurately! If you are not fully satisfied with your purchase simply return the unused item in its original packaging with tags attached within 30 days of purchase and we will provide you with a full refund. Returns must be in original condition and in all their original packaging. <strong>MELISA KHAN</strong> will not accept return items with any signs of wear or with any of the original tags not included.</p>
    <br>
  <h5 class="text-center"><strong>EXCHANGES</strong></h5>

  <p class="text-center">At this time we do <strong>NOT</strong> offer direct exchanges, but don’t worry go ahead and place an order for the correct size or color and as soon as we receive your return we will issue you a refund.</p>
    <br>
  <h5 class="text-center"><strong>TERMS AND CONDITIONS</strong></h5>

    <p class="text-center">Your use of this website constitutes your agreement to be bound by the following terms and conditions related to the use of the website. These terms and conditions are subject to change from time to time without prior notice. After such a change, your use of the website constitutes your agreement to be bound by the changed terms and conditions. You should therefore be sure to review these terms and conditions each time you log on to our website.
      <br>
      The content of the <strong>MELISA KHAN</strong> web site is protected by the intellectual property laws including trademark and copyright laws. Our website is intended solely for personal non-commercial use by the users of our website. We recognize that from time to time you may wish to download, print and store portions of our website. You may do this so long as you only use such copies for your own personal non-commercial use; you do not copy or post that material on any network computer or broadcast that material in any media and that you do not modify or alter that material in any way. The mere fact that you have downloaded such materials does not transfer to you any right to title or interest in such materials. All intellectual property rights and any such materials remain the sole and exclusive property of <strong>MELISA KHAN</strong>.</p>

  </div>
</div>

